body {
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 14px;
	height: 100vh;
}

.page-wrapper {
	height: 100%;
}

.navbar-fixed-top h3 {
	margin-left: 15px;
	margin-bottom: 0px;
}

.navbar {
	background-color: #f0f0f0;
}

.navigation {
	display: none;
}
@media (min-width: 768px) {
	.navigation {
	    left: 0;
	    z-index: 1000;
	    display: block;
	    padding: 20px;
	    padding-top: 0px;
	    overflow-x: hidden;
	    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	    background-color: #f0f0f0;
	    border-right: 1px solid #eee;
	    height: 100%
	}
}

.sidebar ul {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 0px;
	list-style: none;
}

.sidebar a {
	display: block;
	color: dodgerblue;
	padding-left: 20px;
	padding-right: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: transparent;
	border-style: solid;
	border-color: #e7e7e7;
	border-width: 0px;
	border-bottom-width: 2px;
	font-size: 18px;
}

.sidebar .sideChild {
	padding-left: 70px;
	padding-right: 60px;
	background-color: #f5f5f5;
}

.sidebar .active-true, .sidebar .active-true:hover, .sidebar .active-true:focus {
	background-color: dodgerblue;
	color: white;
}

.navbar li {
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

#accBtn {
	margin-top: 10px;
}

.vertical-align {
 	margin: 0 auto;
 	margin-top: 10%;
 	padding-bottom: 20px;
}

.page-body {
	height: 100%;
}

.page-body>div {
	height: 100%;
}

.body-content {
	height: 100%;
	overflow-y: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.panel {
	padding-left: 0px;
	padding-right: 0px;
}

.panel-body {
	padding: 0px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f0f0f0;
}

.panel-body table,tbody,tr {
	width: 100%;
}

.panel-body a {
	font-size: 1.2em;
}

.panel-body h4,span {
	padding-left: 10px;
}

.panel-body button {
	margin: 10px;
}

.addBtn {
	color: green;
}

.removeBtn {
	color: red;
}