<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
	<script type="text/javascript" src="./js/main.js"></script>
	<script type="text/javascript" src="./js/home.js"></script>
	<script type="text/javascript" src="./js/studentList.js"></script>
	<script type="text/javascript" src="./js/classList.js"></script>
	<script type="text/javascript" src="./js/groupList.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
	<div ng-app="mainApp" class="page-wrapper">
		<!-- Templates must be included inside ng-app -->

		<!-- move these templates to a new folder and keep their names as the current ids -->
		<!-- HOME TEMPLATE -->
		<script type="text/ng-template" id="/home.html">
			<div ng-controller="homeController">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-1">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
								<h3>My Classes</h3>
							</div>
							<div class="panel-body">
								<table class="table-striped"><tbody>
									<tr><td>
										<a href="">Classes to be implemented upon integration of database</a>
									</td></tr>
								</tbody></table>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-sm-offset-1">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
								<h3>Daily Activities</h3>
							</div>
							<div class="panel-body">
							<h4>Random Student Selector</h4>
								<span>{{eligible()}} of {{students.length}} students available</span>
								<table class="table-striped"><tbody>
									<tr ng-repeat="student in studentArr"><td>
										<a href="" class="active-{{student.active}}" ng-click="setCurrent($index)"><h4>{{student.name}}</h4></a>
									</td></tr>
								</tbody></table>
								<ul>
									<li ng-repeat="student in students">
										<label class="checkbox">
											<input type="checkbox" ng-model="student.active">
											<span class="done-{{student.done}}">{{student.text}}</span>
										</label>
									</li>
								</ul>
								<button class="btn-primary" ng-click="complete()">Complete</button>
								<button class="btn-primary" ng-click="reset()">Reset</button>
								<button class="btn-primary" ng-click="selectRandom()">Select Random</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>

		<!-- CLASS TEMPLATE -->
		<script type="text/ng-template" id="/classList.html">
			<div ng-controller="classListController">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-1">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
								<h3>Classes</h3>
							</div>
							<div class="panel-body">
								<table class="table-striped"><tbody>
									<tr ng-repeat="class in classArr"><td>
										<a href="" class="active-{{class.active}}" ng-click="setCurrent($index)">{{class.name}}</a>
									</td></tr>
								</tbody></table>
							</div>
						</div>
						<a ng-click="addClass()" href=""><span class="glyphicon glyphicon-plus addBtn" aria-hidden="true"></span><span class="addBtn">Add</span></a>
						<a ng-click="removeClass()" href=""><span class="glyphicon glyphicon-minus removeBtn" aria-hidden="true"></span><span class="removeBtn">Remove</span></a>
					</div>
					<div class="col-sm-5 col-sm-offset-1 panel panel-default">
						<div class="panel-heading text-center">
							<h3>Class Information</h3>
						</div>
						<div class="panel-body">
							<form name="form" ng-model="form" novalidate class="simple-form">
								<div class="row">
									<div class="col-sm-6">
										<label>Name:<br> <input placeholder="" name="" type="text" ng-model="form.name"></label>
									</div>
									<div class="col-sm-6">
										<label>Teacher:<br> <input placeholder="" name="" type="text" ng-model="form.teacher"></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<h4>Student List</h4>
										<table class="table-striped"><tbody>
											<tr ng-repeat="student in studentArr"><td>
												<a href="" class="active-{{student.active}}">{{student.name}}</a>
											</td></tr>
										</tbody></table>
									</div>
									<div class="col-sm-6">
										<h4>Group List</h4>
										<table class="table-striped"><tbody>
											<tr ng-repeat="group in groupArr"><td>
												<a href="" class="active-{{group.active}}">{{group.name}}</a>
											</td></tr>
										</tbody></table>
									</div>
								</div>
								<input type="submit" ng-click="update(form)" value="Save">
							</form>
						</div>
					</div>
				</div>
			</div>
		</script>

		<!-- STUDENT TEMPLATE -->
		<script type="text/ng-template" id="/studentList.html">
			<div ng-controller="studentListController">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-1">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
								<h3>Students</h3>
							</div>
							<div class="panel-body">
								<table class="table-striped"><tbody>
									<tr ng-repeat="student in studentArr"><td>
										<a href="" class="active-{{student.active}}" ng-click="setCurrent($index)">{{student.name}}</a>
									</td></tr>
								</tbody></table>
							</div>
						</div>
						<a ng-click="addStudent()" href=""><span class="glyphicon glyphicon-plus addBtn" aria-hidden="true"></span><span class="addBtn"> Add </span></a>
						<a ng-click="removeStudent()" href=""><span class="glyphicon glyphicon-minus removeBtn" aria-hidden="true"></span><span class="removeBtn"> Remove </span></a>
					</div>
					<div class="col-sm-5 col-sm-offset-1 panel panel-default">
						<div class="panel-heading text-center">
							<h3>Student Information</h3>
						</div>
						<div class="panel-body">
							<form name="form" ng-model="form" novalidate class="simple-form">
								<div class="row">
									<div class="col-sm-6">
										<label>Name:<br> <input name="" type="text" ng-model="form.name"></label>
									</div>
									<div class="col-sm-6">
										<label>ID:<br> <input name="" type="text" ng-model="form.id"></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<label>Learning Type:<br> <input name="" type="text" ng-model="form.LType"></label>
									</div>
									<div class="col-sm-6">
										<label>Personality Type:<br> <input name="" type="text" ng-model="form.PType"></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<label>Reading Level:<br> <input name="" type="text" ng-model="form.RLevel"></label>
									</div>
								</div>
								<input type="submit" ng-click="update(form)" value="Save">
							</form>
						</div>
					</div>
				</div>
			</div>
		</script>

		<!-- GROUP TEMPLATE -->
		<script type="text/ng-template" id="/groupList.html">
			<div ng-controller="groupListController">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-1">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
								<h3>Groups</h3>
							</div>
							<div class="panel-body">
								<table class="table-striped"><tbody>
									<tr ng-repeat="group in groupArr"><td>
										<a href="" class="active-{{group.active}}" ng-click="setCurrent($index)">{{group.name}}</a>
									</td></tr>
								</tbody></table>
							</div>
						</div>
						<a ng-click="addGroup()" href=""><span class="glyphicon glyphicon-plus addBtn" aria-hidden="true"></span><span class="addBtn"> Add </span></a>
						<a ng-click="removeGroup()" href=""><span class="glyphicon glyphicon-minus removeBtn" aria-hidden="true"></span><span class="removeBtn"> Remove </span></a>
					</div>
					<div class="col-sm-5 col-sm-offset-1 panel panel-default">
						<div class="panel-heading text-center">
							<h3>Group Information</h3>
						</div>
						<div class="panel-body">
							<form name="form" ng-model="form" novalidate class="simple-form">
								<div class="row">
									<div class="col-sm-6">
										<label>Name:<br> <input name="" type="text" ng-model="form.name"></label>
									</div>
									<div class="col-sm-6">
										<label>Size:<br> <input name="" type="text" ng-model="form.id"></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<label>Activity Type:<br> <input name="" type="text" ng-model="form.trait1"></label>
									</div>
									<div class="col-sm-6">
										<label>Temporary:<br> <input name="" type="text" ng-model="form.trait2"></label>
									</div>
								</div>
								<h4>Student List</h4>
								<table class="table-striped"><tbody>
									<tr ng-repeat="student in studentArr"><td>
										<a href="" class="active-{{student.active}}">{{student.name}}</a>
									</td></tr>
								</tbody></table>
								<input type="submit" ng-click="update(form)" value="Save">
							</form>
						</div>
					</div>
				</div>
			</div>
		</script>
		<!-- END TEMPLATES -->


		<div class="container-fluid page-body">
			<div class="row">
				<!-- SIDEBAR -->
				<div class="col-sm-3 col-md-2 navigation">
					<div class="sidebar">
						<div ng-controller="sidebarController as sidebar">
							<ul>
								<li ng-repeat="parent in sidebarArr">
									<a href="" class="active-{{parent.active}} sideParent" data-toggle="collapse" data-target="#{{parent.text}}Drop" id="{{parent.text}}" ng-click="setActiveParent(parent)">{{parent.text}}</a>
									<ul id="{{parent.text}}Drop" class="collapse">
										<li ng-repeat="child in parent.children">
											<a href="" class="active-{{child.active}} sideChild" ng-click="setActiveChild(child)">{{child.text}}</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<!-- HEADER -->
					<nav class="navbar navbar-default navbar-fixed-top">
				  		<div class="col-sm-3 col-md-2">
				  			<h3>Smart Groups</h3>
				  		</div>
				  		<div class="col-sm-8 col-md-9">
				  			<h3 ng-bind="stateName.current.name" class="text-center"></h3>
				  		</div>
				  		<div class="col-sm-1 col-md-1">
				  			<button class="btn btn-primary" id="accBtn">Account</button>
				  		</div>
					</nav>
					<!-- FOOTER -->
					<nav class="navbar navbar-default navbar-fixed-bottom">
						<div class="col-sm-3 col-md-2">
				  		</div>
				  		<div class="col-sm-5 col-md-7">
				  			<h3 ng-bind="stateName.current.name" class="text-center"></h3>
				  		</div>
				  		<div class="col-sm-4 col-md-3">
				  		<ul class="list-inline text-center">
				  			<li><a href="">Home</a> |</li>
				  			<li><a href="">Classes</a> |</li>
				  			<li><a href="">Students</a> |</li>
				  			<li><a href="">Groups</a> |</li>
				  			<li><a href="">Help</a></li>
				  		</div>
					</nav>
				</div> <!-- End sidebar -->

				<!-- BODY CONTENT -->
				<div class="col-sm-9 col-md-10 body-content">
					<div class="vertical-align">
						<ui-view></ui-view>
					</div>
				</div> <!-- End body-content -->
			</div> <!-- End row -->
		</div> <!-- End container -->

	</div> <!--mainApp div (whole page) -->
</body>
</html>