<div class="login-card">
    <h1>Brooks's Automotive</h1>
    <h4>log-in</h4>
    <form name="form" ng-model="form" novalidate class="simple-form">
        <input type="text" placeholder="Username" id="user" ng-model="username">
        <input type="password" placeholder="Password" id="pass" ng-model="password">
        <input type="submit" class="login login-submit" value="log-in" ng-click="login(username, password)">
    </form>
    
    <div class="login-help">
    	<a href="" ng-click="beginRegister()">Create a New Account</a>
    </div>
</div>
