<h1>Vehicles</h1>

<h2>Current Vehicles</h2>

<h2>Add New Vehicle</h2>
<form name="form" ng-model="form" novalidate class="simple-form">
	<label>Year</label>
	<input type="text" placeholder="Year" id="year" ng-model="form.year">
	<label>Make</label>
	<input type="text" placeholder="Make" id="make" ng-model="form.make">
	<label>Model</label>
	<input type="text" placeholder="Model" id="model" ng-model="form.model">
	<input type="submit" class="login login-submit" value="log-in" ng-click="addVehicle()">
</form>